html, body {
    border: 0px;
    margin: 0px;
}

#games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.thumbnail {
    width: 200px;
    height: 150px;
    margin: 50px;
    text-align: center;
    text-decoration: none;
}


#whole {
    display: flex;
    flex-direction: row;
}
#gameContainer {
    width: 800px; 
    height: 600px;
    flex-shrink: 0;
}
#chatContainer {
    background: #eeeeff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 580px;
}
#chatArea {
    flex-grow: 1;
    overflow: auto;
}
#chatMessages {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#chatMessages li {
    padding: 1px;
}

#chatMessages li.spectator {
    color: #888;
}
#chatMessages li.player0, #chatMessages a.player0 {
    color: #ee0000;
}
#chatMessages li.player1, #chatMessages a.player1 {
    color: #0000ee;
}
#chatMessages li.player2, #chatMessages a.player2 {
    color: #aaaa00;
}
#chatMessages li.player3, #chatMessages a.player3 {
    color: #dd00dd;
}
#chatMessages li.player4, #chatMessages a.player4 {
    color: #00dddd;
}
#chatMessages li.player5, #chatMessages a.player5 {
    color: #00ee00;
}

#chatInput {
    margin: 0;
    padding: 4px;
}
#attributions {
    margin: 100px 10px 10px 10px;
}

#lobby {
    padding: 1em;
}

#lobby.noGames #instructions {
    display: none;
}

#lobby .button {
    width: 100px;
}

#lobby .variation {
    padding: 0 2em 0 0;
}
#lobby input.name {
    width : 20em;
}
#lobby th {
    text-align: left;
}
#lobby th.playerCount, #lobby th.lastActive {
    text-align: center;
}
#lobby td.playerCount input {
    width: 3em;
}
#lobby td.playerCount {
    text-align: center;
}
#lobby td.lastActive {
    width: 10em;
    text-align: center;
}

#lobby.noGames .lastActive {
}

/* Move the chat below the game if the window is too narrow */
@media (max-width: 1000px) {
    html, body {
        height: 100%;
    }
    #whole {
        flex-direction: column;
        height: 100%;
    }
    #chatArea {
        height: 10px;
    }
}

.messageSender {
    padding: 0 1em 0 0;
    font-weight: bold;
}

